html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: black;
    }
}



/* Custom CSS */
.skill-lt .skill-bar.open {
    -webkit-animation: wow 2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* Safari 4+ */
    -moz-animation: wow 2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* Fx 5+ */
    animation: wow 2s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* IE 10+ */
    width: 100%;
}

@-webkit-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes wow {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.ReactModal__Overlay {
    z-index: 9999;
    max-width: 80%;
    margin: auto;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}